{% extends "admin_pages/layout_admin.html" %}
{% set admin_page = "logs" %}
{% block admin %}

	{% for page_num in logs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if logs.page == page_num %}
				<a class="btn btn-info mb-4"href="{{ url_for('view_thesis', page=page_num, per_page=logs.per_page)}}">{{ page_num }}</a>
			{% else %}	
				<a class="btn btn-outline-info mb-4"href="{{ url_for('view_thesis', page=page_num, per_page=logs.per_page)}}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
	{% if logs.items == None %}
		<h5 class="text-dark outline"> No Logs To Show Right Now.</h5>
	{% endif %}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">User ID</th>
				<th scope="col">Name</th>
				<th scope="col">Thesis Code</th>
				<th scope="col">User Level</th>
				<th scope="col">Date / Time</th>
			</tr>
		</thead>
		<tbody>
			{% for logs in logs.items %}
			<th scope="row"> {{ logs.id }} </th>
				<td>{{ logs.id_number }}</td>
				<td>{{ logs.name }}</td>
				<td>{{ logs.thesis_code }}</td>
				<td>{{ logs.user_level }}</td>
				<td>{{ logs.date_time }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}