body, html {
  height: 100%;
}
.side_row {
    padding-bottom: 15px;
    padding-top   : 15px;
    padding-right   : 0px;
}
.container-full {
  margin: 0;
  width: 100%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.card_button{
position: absolute;
top: 0; left: 0;
height: 100%; width: 100%;
}


.nav2 li {
    margin-right: 45px;
}

