{% extends "layout.html" %}
{% set active_page = "admin_dash" %}
{% block outside %}


<div class="container-fluid row h-100" style="padding-top: 0%">
	
		<div class="container col-md-2 bg-dark">
			<div class="container-fluid row side_row" >
				<a class="nav-link {{ 'text-light' if admin_page == 'thesis_control' else 'text-secondary' }} " href="{{ url_for('admin_thesis') }}">Thesis Settings</a>

			</div>
			<div class="container-fluid row side_row ">
				<a class="nav-link {{ 'text-light' if admin_page == 'logs' else 'text-secondary' }} " href="{{ url_for('admin_logs') }}">View Logs</a>
			</div>
			<div class="container-fluid row side_row">
				<a class="nav-link {{ 'text-light' if admin_page == 'asd' else 'text-secondary' }}" href="{{ url_for('admin_logs') }}">View Users</a>
			</div>

		</div>
		<div class="container col-md-10" >
			{% block admin %} {% endblock %}
		</div>
	
</div>
{% endblock %}