{% extends "layout.html" %}
{% set active_page = "admin_dash" %}
{% block content %}

<h4 class="text-center" style="margin-bottom: 10%"><b>Welcome To The Admin Dashboard</b></h4>
<div class="container-fluid row">
	
	<div class="container-fluid h-100">
		<div class="container-fluid row">
			
			<div class="container-fluid col-lg-6 d-flex">
				<div class="card mb-3 text-white bg-secondary h-100 w-100" >
					<a class="card_button" href="{{ url_for('admin_add_thesis') }}"> </a>
					<div class="card-header">
						<h5 class="card-title text-center">
							New Thesis Record
						</h5>
					</div>
					<div class="card-body">
						<p class="card-text"> Go here to add new Thesis records to the database!</p>
						
					</div>
				</div>
			</div>
			<div class="container-fluid col-lg-6 d-flex">
				<div class="card mb-3 text-white bg-secondary h-100 w-100" >
					<a class="card_button" href=""> </a>
					<div class="card-header">
						<h5 class="card-title text-center">
							View System Logs
						</h5>
					</div>
					<div class="card-body">
						<p class="card-text"> Go here to view user activity on the system </p>
						
					</div>
				</div>
			</div>
			
		</div>
		<div class="container-fluid row" style="margin-top:25px">
			<div class="container-fluid col-lg-6 d-flex">
				<div class="card text-white bg-secondary h-100 w-100" >
					<a class="card_button" href="{{ url_for('admin_logs') }}"> </a>
					<div class="card-header">
						<h5 class="card-title text-center">
							View User Accounts
						</h5>
					</div>
					<div class="card-body">
						<p class="card-text"> Go here to view information about the accounts in the system </p>
						
					</div>
				</div>
			</div>
			<div class="container-fluid col-lg-6 d-flex">
				<div class="card text-white bg-secondary h-100 w-100" >
					<a class="card_button" href="{{ url_for('view_thesis') }}"> </a>
					<div class="card-header">
						<h5 class="card-title text-center">
							View / Modify Thesis Records
						</h5>
					</div>
					<div class="card-body">
						<p class="card-text"> Go here to search for, and modify thesis records. </p>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	
</div>
{% endblock %}