{% extends "layout.html" %}
{% set active_page = "view_thesis" %}
{% block content %}

	<h5 class="card-title"><b>{{ post.title }}</b></h5>
		<div class="container row">
			<h6 class="card-subtitle mb-2 text-muted col">
				<b>Thesis Code</b> : {{ post.thesis_code }}
			</h6>
		
			<h6 class="card-subtitle mb-2 text-muted col">
				<b>Researcher</b> : {{ post.researcher }}
			</h6>
			<h6 class="card-subtitle mb-2 text-muted col">
				<b>Tech Adviser</b> : {{ post.tech_adviser }}
			</h6>
			<h6 class="card-subtitle mb-2 text-muted col">
				<b>Class Adviser</b> : {{ post.class_adviser }}
			</h6>
		</div>
	<div class="card mb-3" >
		{% if current_user.is_admin() %}
		<div class="card-header">
			<a class="card-text text-info text-right"href="{{ url_for('thesis_update', thesis_code=post.thesis_code) }}"> Modify </a>
			<a class="card-text text-danger text-right" href="#"> delete </a>
		</div>
		{% endif %}

		<div class="card-body">
			<p class="card-text">{{ post.abstract }}</p>
			
		</div>
	</div>
				
			
			



{% endblock %}