{% extends "layout.html" %}
{% set active_page = "view_thesis" %}
{% block content %}

	<div class="container-fluid row">
		<div class="container-fluid col-8 " >
				{% for page_num in post.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
					{% if page_num %}
						{% if post.page == page_num %}
							<a class="btn btn-info mb-4"href="{{ url_for('view_thesis', page=page_num)}}">{{ page_num }}</a>
						{% else %}	
							<a class="btn btn-outline-info mb-4"href="{{ url_for('view_thesis', page=page_num)}}">{{ page_num }}</a>
						{% endif %}
					{% else %}
						...
					{% endif %}
				{% endfor %}
				{% for post in post.items %}
					<div class="card mb-3" >
						<div class="card-header">
							<h5 class="card-title"><b><a href="{{ url_for('thesis_page', thesis_code=post.thesis_code)}}">{{ post.title }}</a></b></h5>
							<h6 class="card-subtitle mb-2 text-muted">
								Thesis Code : {{ post.thesis_code }}
							</h6>
						</div>
						<div class="card-body">
							
							
							<p class="card-text">{{ post.abstract }}</p>
							
						</div>
						{% if current_user.is_admin() %}
						<div class="card-footer">
							
							<a class="card-text text-info text-right"href="{{ url_for('thesis_update', thesis_code=post.thesis_code)}}"> Modify </a>
							<a class="card-text text-danger text-right" href="#" data-toggle="modal" data-target="#confirm_delete"> Delete </a>
							
						</div>

						<div class="modal fade" id="confirm_delete" tabindex="-1" role="dialog" aria-labelledby="confirm_deleteLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
									<h5 class="modal-title" id="confirm_deleteLabel">Confirm Delete</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
									</div>
									<div class="modal-body">
									Are you sure you want to delete this Thesis Record?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<form action="{{ url_for('thesis_delete', thesis_code=post.thesis_code) }}" method="POST">
											<input type="submit" class="btn btn-danger" value="Delete">
										</form>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				{% endfor %}

			
		</div>
		<div class="container col-4 ">
			<div id="accordion">
				<div class="card  bg-secondary" >
					<div class="card-header" id="dash_header">
						<a class="card_button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" href="#"></a>
						<h5 class="card-title text-light text-center" > Advanced Search</h5>
					</div>
					<div id="collapseOne" class="collapse" aria-labelledby="dash_header" data-parent="#accordion">
						<div class="card-body ">					
							
							<ul class="list-group ">
								<li class="list-group-item">
									<p class="card-text"><a class="text-secondary" href="{{ url_for('view_thesis')}}">Modify / Delete Thesis Records</a></p>
								</li>
								<li class="list-group-item">
									<p class="card-text"><a class="text-secondary" href="{{ url_for('admin_dash')}}">View System Logs</a></p>
								</li>
								<li class="list-group-item">
									<p class="card-text"><a class="text-secondary"  href="{{ url_for('admin_dash')}}">View Users in the System</a></p>
								</li>
								<li class="list-group-item">
									<p class="card-text"><a class="text-secondary"  href="{{ url_for('admin_dash')}}">Back to Dashboard</a></p>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
{% endblock %}